### Import Standard Libraries

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

### Read the CSV into a Panda's Dataframe

In [5]:
df = pd.read_csv('Classified Data', index_col=0)

### Check the columns of the Dataframe

In [8]:
df.head(1)

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1

### Use sklearn standard scaler and transformation to create create standardized values in a new dataframe

In [1]:
from sklearn.preprocessing import StandardScaler

In [2]:
scalar = StandardScaler()

In [6]:
scalar.fit(df.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [7]:
scaled_features = scalar.transform(df.drop('TARGET CLASS', axis=1))

In [9]:
# Create a Dataframe from the scaled_features 
df_features = pd.DataFrame(scaled_features, columns=df.columns[:-1]) #The sliced notation of colums is used to select all column names expect the TARGET CLASS

In [10]:
df_features.head(1)

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314